config.*
options_cache.py
libgag.a
libusl.a
src/glob2
testResults.xml
.sconf_temp
.sconsign.dblite
*.o
*~
*.pyc
.directory
__pycache__/
build/
vcpkg_installed/
.DS_Store
compile_commands.json
.cache/
Glob2.app/
Glob2-*.dmg
/.tmp


/tools/browser-emsdk/
/build-browser/

/build-browser.log

/build-*-support.log
/test/build/

/build-*.log
/browser/node_modules/
