#!/usr/bin/make -f

PWD=`pwd`

clean:
	rm -rf debian/files debian/substvars debian/tmp debian/build

binary: binary-arch binary-indep

binary-indep:

binary-arch:
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	install -d debian/tmp/usr/bin
	install -d debian/tmp/usr/share/doc/glob2
#	cp changelog debian/tmp/usr/share/doc/aseba/changelog
	cp debian/changelog debian/tmp/usr/share/doc/glob2/changelog.debian
	cp debian/copyright debian/tmp/usr/share/doc/glob2
	scons INSTALLDIR="${PWD}/debian/tmp/usr/share" DATADIR="/usr/share" BINDIR="${PWD}/debian/tmp/usr/bin" install
	dpkg-shlibdeps debian/tmp/usr/bin/*
	dpkg-gencontrol -isp
	chown -R root.root debian/tmp
	chmod -R o-s,go=u,go-ws debian/tmp
	dpkg-gencontrol
	dpkg --build debian/tmp ..